# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
backend_ci.tf

# Sensitive variables
*.tfvars
*.tfvars.json

# OS / Editor generated
.DS_Store
.vscode/
.idea/
